body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
 .header-part{
    color: #3A3A3A;
    margin-left: 100px;
    margin-top: 87px;
}
h1{
    font-size: 52px;
    width: 600px;
    height: 133px;
    margin-top: 100px;
    margin-left: 100px;
    color: #3A3A3A;
    font-weight: bold;   
}
h2{
    margin-left: 100px;
    margin-top: 100px;
    color: #3A3A3A;
}
article p{
    width: 505px;
    height: 60px;
    margin-top: 5px;
    margin-left: 100px;
    color: #3A3A3A;
    
}
.button{
    width: 196px;
    height: 44px;
    margin-left: 100px;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    border-color:#E02C6D;
    font-size:16px ;
    font-weight: bold;   
}
.button i{
     margin-left: 10px;    
}
.first-section{
    display: flex;
}
.camera{
    width: 400px;
    height: 414px;
    margin-left: 110px;
}
body{
	margin: 0;
	padding: 0;
}

.f1{
	background: #E8E8FF;
	padding: 40px;
}
.f2 ul{
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
}
.f2 ul li{
	text-decoration:none;
	display: inline-block;
	height: 80px;
	margin: auto;
}
.f2 ul li a{
	text-decoration:none;
	color: #fff;
	font-size: 20px;
	padding: 10px 30px;
}
.f2 ul li a img{
	margin-top: 25px;
}
.f2 ul li a > .amazon{
	margin-top: 34px;
}
.f2 ul li:hover{
	transform: translateY(-30px);
	background-color: rgba(217, 181, 0, 0.3);
	border-radius: 4px;
	box-shadow: 3px 4px 3px black;
}

/* -----------Popular collections
             ------------------- */
h3{
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
}
h4{
    font-size: 20px;
}
.group{
    width: 75px;
    height: 24px;
    margin-left: 240px;
    margin-top: 60px;
    color: #E02C6D;
    font-size: 16px;
}

.fa-star{
    color: darkorange;
    font-size: 16px;
}
.thumbnail-tatile{
    font-size: 14px;
    width: 200px;
    height: 62px;
    color:#787885;
   
}
.thumbnail-1{
    margin-left: 14px;
    
}
.thumbnail-1 img{
 width: 300px;
 height: 250px;
 margin-top: 20px;
 border-radius: 6px;   
}
.collections{
    width: 330px;
   height: 490px;
   background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   margin-left: 100px;
}

.second-section{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-row-gap: 25px;

       width: 1000px;
       height: 800px;
       left: 196px;   
}
         /*
      footer styles
         */
.footer-style{
   
    padding-top: 50px;
}
footer{
    background-color:rgb(19, 6, 39);
    margin-top: 400px;
    width: 1340px;
    height: 200px;
    color: #FFFF;
    text-align: center;
}
footer p{
    width: 200px;
    height: 30px;
    font-size: 13px;
    font-weight: normal;
    margin-left: 565px;
}
footer a{
    font-size: 25px;
}
.hadding{
    font-size: 24px;
}
.instagram{
    color: white;
    
}
.twitter{
    color: white;
    padding-left: 18px;
}
.facebook{
    color:white;
    padding-left: 18px;
}
.youtube{
    color: white;
    padding-left: 18px;
}